{% extends "layout.twig" %}

{% block content %}
    <div id="kicker-table">
        <img src="web/img/soccer-field.png" alt="Table free" >
        <div class="table-free">
            <img src="web/img/icon-table-free.png" alt="Table free" >
            <p class="main-line">Stalas laisvas!</p>
            <p class="subline">Eik ir žaisk</p>
        </div>
        <div class="table-busy">
            <div class="info">
                <p class="vs">vs.</p>
                <p class="semicolon">:</p>
                <p class="img"><img src="web/img/icon-ball.png"></p>
                <p class="main-line">Ole, Ole, Ole...</p>
                <p class="subline">vyksta rungtynės!</p>
            </div>
            <div class="result"></div>
            <img class="left-connector" src="web/img/connector-lines-left.png">
            <div class="team-0">
                <div class="player-0">
                    <img class="bg" src="web/img/user-placeholder.png">
                    <img class="img" src="">
                    <div class="name"></div>
                </div>
                <div class="player-1">
                    <img class="bg" src="web/img/user-placeholder.png">
                    <img class="img" src="">
                    <div class="name"></div>
                </div>
            </div>
            <img class="right-connector" src="web/img/connector-lines-right.png">
            <div class="team-1">
                <div class="player-0">
                    <img class="bg" src="web/img/user-placeholder.png">
                    <img class="img" src="">
                    <div class="name"></div>
                </div>
                <div class="player-1">
                    <img class="bg" src="web/img/user-placeholder.png">
                    <img class="img" src="">
                    <div class="name"></div>
                </div>
            </div>
        </div>
        <div class="table-winner">
            <aside id="library">
                <img src="web/img/nightsky.png" id="nightsky" />
                <img src="web/img/big-glow.png" id="big-glow" />
                <img src="web/img/small-glow.png" id="small-glow" />
            </aside>
            <div class="winner-text">Žaidimo nugalėtojai</div>
            <img src="web/img/hor-connector-lines.png">
            <div class="players">
                <div class="player-0">
                    <img class="bg" src="web/img/user-placeholder.png">
                    <img class="img" src="">
                    <div class="name"></div>
                </div>
                <div class="player-1">
                    <img class="bg" src="web/img/user-placeholder.png">
                    <img class="img" src="">
                    <div class="name"></div>
                </div>
                <div class="after">&nbsp;</div>
            </div>
        </div>
    </div>
    <div id="status"></div>
{% endblock %}

{% block javascript %}
    <script>
        var fireworkTimer = false;
        var getStatus = function() {
            $.getJSON( "http://{{ app.request.host }}/kickertable/api/v1/status", function(data) {
                if (data.table == 'busy') {
                    $("#kicker-table .table-free").hide();
                    $("#kicker-table .table-busy").show();
                    $("#kicker-table .table-winner").hide();
                    var team0Goal = data.data.teams[0].goals;
                    var team1Goal = data.data.teams[1].goals;
                    $("#kicker-table .table-busy .result").html(team0Goal + "&nbsp;&nbsp;&nbsp;" + team1Goal);

                    $("#kicker-table .table-busy .team-0 .player-0 .img").attr("src", "web/img/players/" + data.data.teams[0].players[0].img);
                    $("#kicker-table .table-busy .team-0 .player-0 .name").html(data.data.teams[0].players[0].name);
                    $("#kicker-table .table-busy .team-0 .player-1 .img").attr("src", "web/img/players/" + data.data.teams[0].players[1].img);
                    $("#kicker-table .table-busy .team-0 .player-1 .name").html(data.data.teams[0].players[1].name);

                    $("#kicker-table .table-busy .team-1 .player-0 .img").attr("src", "web/img/players/" + data.data.teams[1].players[0].img);
                    $("#kicker-table .table-busy .team-1 .player-0 .name").html(data.data.teams[1].players[0].name);
                    $("#kicker-table .table-busy .team-1 .player-1 .img").attr("src", "web/img/players/" + data.data.teams[1].players[1].img);
                    $("#kicker-table .table-busy .team-1 .player-1 .name").html(data.data.teams[1].players[1].name);
                    if (team0Goal >= 3 || team1Goal >= 3) {
                        var winner = team0Goal > team1Goal ? 0 : 1;
                        $("#kicker-table .table-busy").hide();
                        $("#kicker-table .table-winner").show();
                        $("#kicker-table .table-winner .players .player-0 .img").attr("src", "web/img/players/" + data.data.teams[winner].players[0].img);
                        $("#kicker-table .table-winner .players .player-0 .name").html(data.data.teams[winner].players[0].name);
                        $("#kicker-table .table-winner .players .player-1 .img").attr("src", "web/img/players/" + data.data.teams[winner].players[1].img);
                        $("#kicker-table .table-winner .players .player-1 .name").html(data.data.teams[winner].players[1].name);
                        setFirework();
                    } else {
                        terminateFirework();
                    }
                } else if(data.table == 'free') {
                    $("#kicker-table .table-busy").hide();
                    $("#kicker-table .table-winner").hide();
                    $("#kicker-table .table-free").show();
                    terminateFirework();
                }
            })
                .fail(function() {
                    terminateFirework();
                    $("#kicker-table .table-free").hide();
                    $("#kicker-table .table-busy").hide();
                    $("#kicker-table .table-winner").hide();
                    $("#status").html("offline");
                });
            setTimeout(getStatus, 300);
        };
        getStatus();
        var setFirework = function() {
            if (!fireworkTimer) {
                $('canvas').show();
                fireworkTimer = setInterval(Fireworks.createParticle, 3000);
            }
        };
        var terminateFirework = function() {
            if (fireworkTimer) {
                $('canvas').hide();
                window.clearInterval(fireworkTimer);
                fireworkTimer = false;
            }
        };
    </script>
{% endblock %}
